<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <wallee_payment>
            <checkout>
                <integration_method>iframe</integration_method>
                <fingerprint>0</fingerprint><!-- disable MF-Group device fingerprint due of a slow response -->
                <enable_available_payment_methods_check>0</enable_available_payment_methods_check>
            </checkout>
        </wallee_payment>
    </default>
</config>
