<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Wallee\Payment\Model\Checkout\ConfigProvider">
        <plugin name="Puravita_WalleePayment::toggle_wallee_config_at_certain_pages"
                type="Puravita\WalleePayment\Plugin\ToggleWalleeConfigAtCertainPages"/>
    </type>
    <type name="Puravita\WalleePayment\Plugin\ToggleWalleeConfigAtCertainPages">
        <arguments>
            <argument name="certainPages" xsi:type="array">
                <item name="checkout_cart_index" xsi:type="string">checkout_cart_index</item>
                <item name="precheckout_index_index" xsi:type="string">precheckout_index_index</item>
            </argument>
        </arguments>
    </type>
</config>
