<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="puravita_wallee_payment" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="600">
            <tab>puravita</tab>
            <label>Wallee Payment Custom Solutions</label>
            <resource>Wallee_Payment::config</resource>
            <group id="general" translate="label tooltip" showInDefault="1" showInWebsite="0" showInStore="0"
                   sortOrder="10">
                <field id="toggle_wallee_config_at_certain_pages" type="select" translate="label tooltip"
                       showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="10">
                    <label>Toggle Wallee config at certain pages</label>
                    <tooltip>Toggle Wallee-Payment configuration at certain pages. By default, the extension
                        generates unnecessary network traffic and increases the page loading time.</tooltip>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
        </section>
        <section id="wallee_payment">
            <group id="checkout">
                <field id="fingerprint">
                    <tooltip><![CDATA[This feature sometimes hangs out while the device and MF-Group
                    fingerprint invocation. It can be advisable to hold the feature disabled due of
                    frontend pages performance downgrade. Puravita Fixies.]]></tooltip>
                </field>
            </group>
        </section>
    </system>
</config>
